<div class="container dist">
        <h1 style="margin-left: 37rem; margin-bottom: 2rem;">To-Do App!</h1>
        <div style="margin-left: 37rem;margin-bottom: 1rem;">Add New To-Do</div>
        <div class="row mb-3">
            <div class="col-sm-10">
                <input type="text" class="form-control" #task id="inputEmail3">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 50rem;"  (click)="addTask(task.value)">Add</button>
</div>